<!DOCTYPE Html>
<html>
    <head>
        <title>NodeJs Application</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>From a dynamic file - about page</p>
            <img src="https://www.shutterstock.com/image-photo/hyderabad-india-november-9th-2020-260nw-1911230902.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>